all:
  hosts:
    kmd0:
      ansible_host: 10.10.10.35
    kmd1:
      ansible_host: 10.10.10.36
  children:
    komodo:
      vars:
        komodo_core_url: "http://10.10.10.35:9120"
        ansible_user: d3
        ansible_ssh_private_key_file: /home/d3/.ssh/komodo_ansible
        ansible_become_pass: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          63373731376164383137313031613837323365633833386137376562313562383931623065623236
          3430343233613633663536636636326432336138353963340a663334346665376433373162626563
          66313135626235396166653332313462623130633330646332623163323630326665343632363535
          6330323164343161320a306463396232313633383262633936666437383138383135303366366230
          32636134386538663464656635346535663361623832653964366536343430303264
        komodo_core_api_key: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          30613832663264383837623738376530323136343539396236386265303533363161323766326639
          3162363230386435646437303838343834633161303632380a373032656236373135663338613232
          64623564313363383366636430653831333833323832323364393131326165373837613039633566
          6365616564653931370a396639353366616336366137356434343034323031323764376262666430
          38383430626266336534373662313930333565616630633530346535353964316365393162636265
          3934393933373665386232393637353562306662663137666262
        komodo_core_api_secret: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          37363664373765666637653964363433393532396561636261323962663762653363383661643661
          3461653131363862373638623039336162343164333331660a316463363766373864396531363264
          38613139363536623037366566323137616633376331663564393234663863303632343135363538
          3036363937643164610a623461353264333164343730653233333034383165383534663939376438
          35653161643137393335376461356564363362376333663064656630353366326636656363636539
          6138303536333637393632356261316366336564633361623934
        enable_server_management: true
        generate_server_passkey: true
      children:
        core:
          hosts:
            kmd0:
              komodo_periphery_port: 8120
              generate_server_passkey: true
              server_address: https://host.docker.internal:{{ komodo_periphery_port }}
        periphery:
          hosts:
            kmd1:
              generate_server_passkey: true
              komodo_allowed_ips:
                - "{{ hostvars['kmd0'].ansible_host }}"
              komodo_bind_ip: "{{ ansible_host }}"