kind: Cluster
name: pve-sing-1
labels:
  template: true
  cni: none
  kubespan: enabled
kubernetes:
  version: v1.34.2
talos:
  version: v1.11.5
features:
  enableWorkloadProxy: true
patches:
  - name: kubespan-enabled
    file: patches/kubespan.yml
  - name: no-cni # we will install cilium in extraManifests
    file: patches/cni.yml
  - name: disable-kubeproxy
    file: patches/disable-kubeproxy.yml
  - name: install-cilium
    file: patches/extraManifests.yml
  - name: metric-server
    file: patches/metrics-server.yml
systemExtensions:
  - siderolabs/qemu-guest-agent
  - siderolabs/util-linux-tools
---
kind: ControlPlane
machineClass:
  name: proxmox-auto-control
  size: 3
---
kind: Workers
machineClass:
  name: proxmox-auto-worker
  size: 3