apiVersion: infrastructure.omni.siderolabs.io/v1alpha1
metadata:
  name: proxmox
  type: MachineClasses.omni.sidero.dev
spec:
  tyhpe: auto-provision
  provider: proxmox
  config:
    cpu: 4
    memory: 8192
    diskSize: 40 # in GB
      #  matchlabels:
    # matches machines with amd64 architecture and more than 2 CPUs
    #    - omni.sidero.dev/arch = amd64, omni.sidero.dev/cpus > 2