kind: Cluster
name: pve-sg-1
kubernetes:
  version: v1.34.2
talos:
  version: v1.11.5
---
kind: ControlPlane
machineClass:
  name: proxmox-auto-control
  size: 1
---
kind: Workers
machineClass:
  name: proxmox-auto-worker
  size: 3
---
kind: Workers
name: manual
machineClass:
  name: Self-Managed
  size: Unlimited