# Add Vlan info to interfaces
- name: Interface config
  hosts: 9khome
  gather_facts: no

  tasks:
    - name: Merge provided configuration with device configuration
      cisco.ios.ios_l2_interfaces:
        config:
          - name: twoGigabitEthernet2/0/31
            mode: access
            access:
              vlan: 444
          - name: twoGigabitEthernet2/0/32
            mode: trunk
            trunk:
              allowed_vlans: 10,20,99
              native_vlan: 1
          - name: twoGigabitEthernet2/0/1
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/2
            mode: access
            access:
              vlan 99
          - name: twoGigabitEthernet2/0/3
            mode: access
            access:
              vlan 99
          - name: twoGigabitEthernet2/0/4
            mode: access
            access:
              vlan 99
          - name: twoGigabitEthernet2/0/5
            mode: access
            access:
              vlan 99
          - name: twoGigabitEthernet2/0/7
            mode: access
            access:
              vlan 99
        state: merged
    - name: Merge provided configuration with device configuration
      cisco.ios.ios_interfaces:
        config:
          - name: twoGigabitEthernet2/0/31
            description: Configured and Merged by Ansible Network
            enabled: true
          - name: twoGigabitEthernet2/0/32
            description: Configured and Merged by Ansible Network
            mtu: 3800
            enabled: true
            duplex: full
        state: merged