# Add Vlan info to interfaces
- name: Interface config
  hosts: 9khome
  gather_facts: no

  tasks:
    - name: Merge provided configuration with device configuration
      cisco.ios.ios_l2_interfaces:
        config:
          - name: twoGigabitEthernet2/0/31
            mode: access
            access:
              vlan: 444
        state: merged
    - name: Merge provided configuration with device configuration
      cisco.ios.ios_interfaces:
        config:
          - name: twoGigabitEthernet2/0/31
            description: Configured and Merged by Ansible Network
            enabled: true
          - name: twoGigabitEthernet2/0/32
            description: Configured and Merged by Ansible Network
            mtu: 3800
            enabled: true
            duplex: full
        state: merged