# Add Vlan info to interfaces
- name: Interface config
  hosts: 9khome
  gather_facts: no

### Interface Configuration ###
  tasks:
    - name: Merge provided configuration with device configuration
      cisco.ios.ios_l2_interfaces:
        config:
          - name: twoGigabitEthernet2/0/1
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/2
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/3
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/4
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/7
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/10
            mode: trunk
            trunk:
              allowed_vlans: 3,99
              native_vlan: 1
          - name: tenGigabitEthernet2/0/37
            mode: trunk
            trunk:
              allowed_vlans: 3,10
              native_vlan: 1
          - name: tenGigabitEthernet2/0/39
            mode: trunk
            trunk:
              allowed_vlans: 3,10
              native_vlan: 1
          - name: tenGigabitEthernet2/0/41
            mode: trunk
            trunk:
              allowed_vlans: 3,10,11
              native_vlan: 1
          - name: tenGigabitEthernet2/0/42
            mode: trunk
            trunk:
              allowed_vlans: 3,10
              native_vlan: 1
          - name: tenGigabitEthernet2/0/45
            mode: access
            access:
              vlan: 10
          - name: tenGigabitEthernet2/0/46
            mode: trunk
            trunk:
              allowed_vlans: 3,10
              native_vlan: 1
          - name: tenGigabitEthernet2/0/48
            mode: access
            access:
              vlan: 100
          - name: twentyFiveGigE2/1/1
            mode: trunk
            trunk:
              allowed_vlans: 10,11,20,100
              native_vlan: 1
          - name: twentyFiveGigE2/1/2
            mode: trunk
            trunk:
              allowed_vlans: 3,10,11,20,99,100
              native_vlan: 1
        state: merged
    - name: Merge provided configuration with device configuration
      cisco.ios.ios_interfaces:
        config:
          - name: twoGigabitEthernet2/0/1
            description: BMC 
            enabled: true
          - name: twoGigabitEthernet2/0/2
            description: BMC
            enabled: true
          - name: twoGigabitEthernet2/0/3
            description: BMC 
            enabled: true
          - name: twoGigabitEthernet2/0/4
            description: BMC 
            enabled: true
          - name: twoGigabitEthernet2/0/5
            description: BMC 
            enabled: true
          - name: twoGigabitEthernet2/0/6
            description: n/a 
            enabled: false
          - name: twoGigabitEthernet2/0/7
            description: BMC 
            enabled: true
          - name: twoGigabitEthernet2/0/8
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/9
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/11
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/12
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/13
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/14
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/15
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/16
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/17
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/19
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/21
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/22
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/23
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/24
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/25
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/26
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/27
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/28
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/29
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/30
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/31
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/32
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/33
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/34
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/35
            description: n/a
            enabled: false
          - name: tenGigabitEthernet2/0/43
            description: n/a
            enabled: false
          - name: tenGigabitEthernet2/0/45
            description: TrueNAS
            enabled: true
          - name: tenGigabitEthernet2/0/47
            description: n/a
            enabled: false
          - name: tenGigabitEthernet2/0/48
            description: WIFI AP
            enabled: true
        state: merged

### End of Interface Configuration ###

### VLAN configuration ###

    - name: Merge provided configuration with device configuration
      cisco.ios.ios_vlans:
        config:
          - vlan_id: 1
            name: default
          - vlan_id: 3
            name: quorum
          - vlan_id: 10
            name: homelab
          - vlan_id: 11
            name: hlvl
          - vlan_id: 20
            name: cephpriv
          - vlan_id: 99
            name: bmc
          - vlan_id: 100
            name: wifi
        state: merged