# Add Vlan info to interfaces
- name: Interface config
  hosts: 9khome
  gather_facts: no

  tasks:
    - name: Merge provided configuration with device configuration
      cisco.ios.ios_l2_interfaces:
        config:
          - name: twoGigabitEthernet2/0/1
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/2
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/3
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/4
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/7
            mode: access
            access:
              vlan: 99
        state: merged
    - name: Merge provided configuration with device configuration
      cisco.ios.ios_interfaces:
        config:
          - name: twoGigabitEthernet2/0/1
            description: BMC 
            enabled: true
          - name: twoGigabitEthernet2/0/2
            description: BMC
            enabled: true
          - name: twoGigabitEthernet2/0/3
            description: BMC 
            enabled: true
          - name: twoGigabitEthernet2/0/4
            description: BMC 
            enabled: true
          - name: twoGigabitEthernet2/0/5
            description: BMC 
            enabled: true
          - name: twoGigabitEthernet2/0/7
            description: BMC 
            enabled: true
        state: merged