# Add Vlan info to interfaces
- name: Interface config
  hosts: 9khome
  gather_facts: no

  tasks:
    - name: Merge provided configuration with device configuration
      cisco.ios.ios_l2_interfaces:
        config:
          - name: twoGigabitEthernet2/0/1
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/2
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/3
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/4
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/7
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/10
            mode: trunk
            trunk:
              allowed_vlans: 3,99
              native_vlan: 1
          - name: twoGigabitEthernet2/0/37
            mode: trunk
            trunk:
              allowed_vlans: 3,10
              native_vlan: 1
          - name: twoGigabitEthernet2/0/39
            mode: trunk
            trunk:
              allowed_vlans: 3,10
              native_vlan: 1
          - name: twoGigabitEthernet2/0/41
            mode: trunk
            trunk:
              allowed_vlans: 3,10,11
              native_vlan: 1
          - name: twoGigabitEthernet2/0/42
            mode: trunk
            trunk:
              allowed_vlans: 3,10
              native_vlan: 1
          - name: twoGigabitEthernet2/0/46
            mode: trunk
            trunk:
              allowed_vlans: 3,10
              native_vlan: 1
          - name: twoGigabitEthernet2/0/46
            mode: trunk
            trunk:
              allowed_vlans: 3,10
              native_vlan: 1
          - name: twentyFiveGigE2/1/1
            mode: trunk
            trunk:
              allowed_vlans: 10,11,20,100
              native_vlan: 1
          - name: twentyFiveGigE2/1/2
            mode: trunk
            trunk:
              allowed_vlans: 3,10,11,20,99,100
              native_vlan: 1
        state: merged
    - name: Merge provided configuration with device configuration
      cisco.ios.ios_interfaces:
        config:
          - name: twoGigabitEthernet2/0/1
            description: BMC 
            enabled: true
          - name: twoGigabitEthernet2/0/2
            description: BMC
            enabled: true
          - name: twoGigabitEthernet2/0/3
            description: BMC 
            enabled: true
          - name: twoGigabitEthernet2/0/4
            description: BMC 
            enabled: true
          - name: twoGigabitEthernet2/0/5
            description: BMC 
            enabled: true
          - name: twoGigabitEthernet2/0/7
            description: BMC 
            enabled: true
        state: merged