komodo_version: "v1.19.5"

# This defines the systemd service scope.
# "user" will run the service as a user service (default, recommended)
# "system" will run the service as a system service, running as the komodo_user
komodo_service_scope: "user"

# You should encrypt entries with `ansible-vault encrypt_string 'supersecretpasskey' --name 'passkey'`
# If encrypting, you must run with --ask-vault-pass or have a vault password file.
komodo_passkeys: "{{ passkey | default([]) }}"

# New to v1.17.1 which introduces IPv6 support.
# If you have issues, set `komodo_bind_ip` to `0.0.0.0`
# to revert to previous behaviour.
komodo_bind_ip: "[::]"

# Replace with your komodo core IP if desired so that only core can access it
komodo_allowed_ips: []

# Allows creation of the komodo user if needed
allow_create_komodo_user: "{{ (komodo_action | default('update')) == 'install' }}"
# Allows modification of the komodo user if needed (i.e. add to docker group, enable/disable linger)
allow_modify_komodo_user: true
# Allows deletion of the komodo user during uninstall
allow_delete_komodo_user: false

# Add name/value pairs containing secrets that periphery will have internal access to
# Example:
#   komodo_agent_secrets:
#     - name: "SECRET_1"
#       value: "supersecret1"
#     - name: "SECRET_2"
#       value: "supersecret2"
komodo_agent_secrets: []

# Add name/value pairs containing extra env variables available to komodo periphery environment
# Example:
#   komodo_extra_env:
#     - name: "EXTRA_ENV_NAME"
#       value: "extra_env_value"
komodo_extra_env: []

# Necessary if we want to enable automatic management of the periphery server in core
enable_server_management: false
komodo_core_url: ""
komodo_core_api_key: ""
komodo_core_api_secret: ""
server_name: "{{ inventory_hostname }}"
server_address: "" # Leave blank to try and autodetect
server_passkey: "" # Leave blank to use global passkeys in core configuration
generate_server_passkey: false # Allow a generation of a random passkey

komodo_user: "komodo"
komodo_group: "{{ komodo_user }}"

komodo_home: "/home/{{ komodo_user }}"
komodo_bin_dir: "{{ komodo_home }}/.local/bin"
komodo_bin_path: "{{ komodo_bin_dir }}/periphery"

komodo_config_dir: "{{ komodo_home }}/.config/komodo"
# default config template
komodo_config_file_template: "periphery.config.toml.j2"
komodo_config_path: "{{ komodo_config_dir }}/periphery.config.toml"

# default service template
komodo_service_file_template: "periphery.service.j2"

komodo_periphery_port: "{{ periphery_port | default(8120, true) }}"

komodo_root_directory: "{{ root_dir | default(komodo_home ~ '/.komodo', true) }}"
komodo_repo_dir: "{{ repo_dir  | default(komodo_root_directory ~ '/repos',  true) }}"
komodo_stack_dir: "{{ stack_dir | default(komodo_root_directory ~ '/stacks', true) }}"
komodo_build_dir: "{{ build_dir | default(komodo_root_directory ~ '/build',  true) }}"

komodo_stats_polling_rate: "{{ stacks_polling_rate | default('5-sec', true) }}"

komodo_ssl_enabled: "{{ ssl_enabled | default(true, true) }}"
komodo_ssl_key_file: ""
komodo_ssl_cert_file: ""

komodo_logging_level: "{{ logging_level | default('info', true) }}"
komodo_logging_stdio: "{{ logging_stdio | default('standard', true) }}"
komodo_logging_opentelemetry_service_name: "{{ logging_opentelemetry_service_name | default('Komodo-Periphery', true) }}"
komodo_logging_otlp_endpoint: ""
komodo_logging_pretty: false
komodo_logging_pretty_startup_config: false

komodo_disable_terminals: false
komodo_disable_container_exec: false
komodo_container_stats_polling_rate: "30-sec"
komodo_legacy_compose_cli: false
komodo_include_disk_mounts: []
komodo_exclude_disk_mounts: []

# Define periphery specific git providers
# Example:
# komodo_git_providers:
#  - domain: "github.com"
#    accounts:
#      - username: "alice"
#        token: !vault |
#          $ANSIBLE_VAULT;1.1;AES256
#          <redacted>
#      - username: "bob"
#        token: !vault |
#          $ANSIBLE_VAULT;1.1;AES256
#          <redacted>
komodo_git_providers: []

# Define periphery specific registry providers
# Example:
# komodo_registry_providers:
#  - domain: "ghcr.io"
#    organizations: "MyOrg"
#    accounts:
#      - username: "alice"
#        token: !vault |
#          $ANSIBLE_VAULT;1.1;AES256
#          <redacted>
#      - username: "bob"
#        token: !vault |
#          $ANSIBLE_VAULT;1.1;AES256
#          <redacted>
komodo_registry_providers: []

# Override komodo_bin name directly if needed for a custom build
komodo_bin: ""
# Download settings. GitHub should be used unless you are using a dev build not available on github yet.
komodo_download_source: "github"
komodo_download_sources:
  github: "https://github.com/moghtech/komodo/releases/download"
  forge: "https://forge.mogh.tech/api/packages/komodo/generic/periphery"

komodo_download_base_url: "{{ komodo_download_sources[komodo_download_source] }}"
