name: Kestra CI/CD
env:
  server: ${{secrets.KESTRA_HOSTNAME}}
  user: ${{secrets.KESTRA_USER}}
  password: ${{secrets.KESTRA_PW}}
on:
  push:
    branches:
      - main
jobs:
  prod:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Validate flows
        uses: kestra-io/validate-action@master

        with:
          server: ${{env.KESTRA_HOSTNAME}}
          user: ${{env.KESTRA_USER}}
          password: ${{env.KESTRA_PW}}
          directory: ./kestra/flows/cisco
          resource: flow
      - name: Deploy
        uses: kestra-io/deploy-action@develop
        with:
          server: ${{env.KESTRA_HOSTNAME}}
          user: ${{env.KESTRA_USER}}
          password: ${{env.KESTRA_PW}}
          namespace: d3hl.ansible.network
          directory: ./kestra/flows/cisco
          resource: flow
          delete: false