name: KestraCI/CD
env:
  KESTRA_HOSTNAME: ${{ secrets.KESTRA_HOSTNAME }}
  server: https://kestra.d3adc3ii.cc/
  user: ${{ secrets.KESTRA_USER }}
  password: ${{ secrets.KESTRA_PW }}
on:
  push:
    branches:
      - main
jobs:
  prod:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Validate flows
        uses: kestra-io/validate-action@main

        with:
          #server: ${{env.KESTRA_HOSTNAME}}
          server: http://10.10.10.36:8080
          user: ${{ secrets.KESTRA_USER }}
          password: ${{ secrets.KESTRA_PW }}
          directory: ./_flows/network.cisco
          resource: flow
      - name: Deploy
        uses: kestra-io/deploy-action@develop
        with:
          server: ${{env.KESTRA_HOSTNAME}}
          user: ${{env.KESTRA_USER}}
          password: ${{env.KESTRA_PW}}
          namespace: d3hl.ansible.network
          directory: ./_flows/cisco
          namespace: network.cisco 
          directory: ./_flows/network.cisco
          server: http://10.10.10.36:8080
          user: ${{ secrets.KESTRA_USER }}
          password: ${{ secrets.KESTRA_PW }}
          resource: flow
          delete: false