name: Kestra CI/CD
on:
  push:
    branches:
      - main
env:
  #server: ${{secrets.KESTRA_HOSTNAME}}
  #server: https://kestra.d3adc3ii.cc/
  server: http://10.10.10.36:8080
  user: ${{ secrets.KESTRA_USER }}
  password: ${{ secrets.KESTRA_PW }}
jobs:
  prod:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Validate flows
        uses: kestra-io/validate-action@master

        with:
          #server: ${{env.KESTRA_HOSTNAME}}
          server: http://10.10.10.36:8080
          user: ${{ secrets.KESTRA_USER }}
          password: ${{ secrets.KESTRA_PW }}
          directory: ./_flows/network.cisco
          resource: flow
      - name: Deploy
        uses: kestra-io/deploy-action@develop
        with:
          namespace: network.cisco 
          directory: ./_flows/network.cisco
          server: http://10.10.10.36:8080
          user: ${{ secrets.KESTRA_USER }}
          password: ${{ secrets.KESTRA_PW }}
          resource: flow
          delete: false