name: Kestra CI/CD
#test  1
env:
  #server: ${{secrets.KESTRA_HOSTNAME}}
  server: https://kestra.d3adc3ii.cc/
  user: ${{KESTRA_USER}}
  password: ${{KESTRA_PW}}
on:
  push:
    branches:
      - main
jobs:
  prod:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Validate flows
        uses: kestra-io/validate-action@master

        with:
          #server: ${{env.KESTRA_HOSTNAME}}
          server: https://kestra.d3adc3ii.cc/
          user: ${{env.KESTRA_USER}}
          password: ${{env.KESTRA_PW}}
          directory: ./_flows/cisco
          resource: flow
      - name: Deploy
        uses: kestra-io/deploy-action@develop
        with:
          #server: ${{env.KESTRA_HOSTNAME}}
          server: https://kestra.d3adc3ii.cc/
          user: ${{env.KESTRA_USER}}
          password: ${{env.KESTRA_PW}}
          namespace: d3hl.ansible.network
          directory: ./_flows/cisco
          resource: flow
          delete: false