name: Kestra CI/CD
on: 
  push:
    branches:
      - main
jobs:
  prod:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Validate flows
        uses: kestra-io/validate-action@main
        with:
          directory: ./flows/prod
          resource: flow
          server: ${{ secrets.KESTRA_HOSTNAME }}
          user: ${{ secrets.KESTRA_USER }}
          password: ${{ secrets.KESTRA_PW }}
      - name: Deploy prod
        uses: kestra-io/deploy-action@dev
        with:
          namespace: prod
          directory: ./flows/prod
          resource: flow
          server: ${{ secrets.KESTRA_HOSTNAME }}
          user: ${{ secrets.KESTRA_USER }}
          password: ${{ secrets.KESTRA_PW }}
          delete: false
      - name: Deploy prod-network
        uses: kestra-io/deploy-action@dev
        with:
          namespace: prod-network
          directory: ./flows/prod/network
          resource: flow
          server: ${{ secrets.KESTRA_HOSTNAME }}
          user: ${{ secrets.KESTRA_USER }}
          password: ${{ secrets.KESTRA_PW }}
          delete: false
