name: KestraCI/CD
on:
  push:
    branches:
      - main
permissions:
  contents: read
jobs:
  prod:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Validate flows
        uses: kestra-io/validate-action@master

        with:
          server: http://10.10.10.36:8080
          user: ${{secrets.KESTRA_USERNAME}}
          password: ${{secrets.KESTRA_PW}}
          directory: ./_flows/network.cisco
          resource: flow
      - name: Deploy
        uses: kestra-io/deploy-action@develop
        with:
          server: ${{secrets.KESTRA_HOSTNAME}}
          user: ${{secrets.KESTRA_USERNAME}}
          password: ${{secrets.KESTRA_PW}}
          directory: ./_flows/cisco
          namespace: network.cisco 
          resource: flow
          delete: false