name: Kestra CI/CD
on: [push]
jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate Kestra flows
    steps:
      - name: Checkout repo content  
        uses: actions/checkout@v4
      - name: Validate flows on server-sde
        uses: kestra-io/validate-action@develop
        with:
            directory: ./kestra/flows
            resource: flow
            server: ${{ secrets.KESTRA_HOSTNAME }}  
  deploy:
    runs-on: ubuntu-latest
    name: Deploy Kestra flow
    needs: validate
    steps:
      - name: Checkout repo content
        uses: actions/checkout@v4
        with:
          namespace: ansible
          directory: ./kestra/flows/product
          resource: flow
          server: ${{secrets.KESTRA_HOST}}