name: Kestra CI/CD
on: 
  push:
    branches:
      - main
permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate Kestra flows
    steps:
      - name: Checkout repo content  
        uses: actions/checkout@v4
      - name: Validate flows on server-sde
        uses: kestra-io/validate-action@develop
        with:
            directory: ./kestra/flows
            resource: flow
            server: ${{ secrets.KESTRA_HOSTNAME }} 
            password: ${{ secrets.KESTRA_PW }} 
  deploy:
    runs-on: ubuntu-latest
    name: Deploy Kestra flow
    needs: validate
    steps:
      - name: Checkout repo content
        uses: actions/checkout@v4
        with:
          namespace: d3hl.ansible
          directory: ./kestra/flows/product
          resource: flow
          server: ${{secrets.KESTRA_HOST}}