# Add Vlan info to interfaces
- name: Interface config
  hosts: ciscohome 
  gather_facts: no

### Interface Configuration ###
  tasks:
    - name: Merge provided configuration with device configuration
      cisco.ios.ios_l2_interfaces:
        config:
          - name: twoGigabitEthernet2/0/1
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/2
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/3
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/4
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/5
            mode: access
            access:
              vlan: 99
          - name: twoGigabitEthernet2/0/6
            mode: trunk
            trunk:
              allowed_vlans: 3,10
              native_vlan: 1
          - name: twoGigabitEthernet2/0/7
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/10
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/11
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/12
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/13
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/14
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/15
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/16
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/17
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/18
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/19
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/20
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/21
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/22
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/23
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/24
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/25
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/26
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/27
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/28
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/29
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/30
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/31
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/32
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/33
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/34
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/35
            mode: access
            access:
              vlan: 999
          - name: twoGigabitEthernet2/0/36
            mode: access
            access:
              vlan: 999
          - name: tenGigabitEthernet2/0/37
            mode: trunk
            trunk:
              allowed_vlans: 3,10
              native_vlan: 1
          - name: tenGigabitEthernet2/0/39
            mode: trunk
            trunk:
              allowed_vlans: 3,10
              native_vlan: 1
          - name: tenGigabitEthernet2/0/41
            mode: trunk
            trunk:
              allowed_vlans: 3,10,11
              native_vlan: 1
          - name: tenGigabitEthernet2/0/42
            mode: trunk
            trunk:
              allowed_vlans: 3,10,11
              native_vlan: 1
          - name: tenGigabitEthernet2/0/45
            mode: trunk
            trunk:
              allowed_vlans: 3,10
              native_vlan: 1
          - name: tenGigabitEthernet2/0/46
            mode: trunk
            trunk:
              allowed_vlans: 3,10
              native_vlan: 1
          - name: tenGigabitEthernet2/0/46
            mode: trunk
            trunk:
              allowed_vlans: 3,10
              native_vlan: 1
          - name: tenGigabitEthernet2/0/45
            mode: access
            access:
              vlan: 10
          - name: tenGigabitEthernet2/0/46
            mode: trunk
            trunk:
              allowed_vlans: 3,10
              native_vlan: 1
          - name: tenGigabitEthernet2/0/46
            mode: trunk
            trunk:
              allowed_vlans: 3,10
              native_vlan: 1
          - name: tenGigabitEthernet2/0/48
            mode: access
            access:
              vlan: 100
          - name: twentyFiveGigE2/1/1
            mode: trunk
            trunk:
              allowed_vlans: 10,11,20,100
              native_vlan: 1
          - name: twentyFiveGigE2/1/2
            mode: trunk
            trunk:
              allowed_vlans: 3,10,11,20,99,100
              native_vlan: 1
        state: merged
    - name: Merge provided configuration with device configuration
      cisco.ios.ios_interfaces:
        config:
          - name: twoGigabitEthernet2/0/1
            description: BMC for nodeA
            enabled: true
          - name: twoGigabitEthernet2/0/2
            description: BMC for nodeB
            enabled: true
          - name: twoGigabitEthernet2/0/3
            description: BMC for nodeC 
            enabled: true
          - name: twoGigabitEthernet2/0/4
            description: BMC for nodeD 
            enabled: true
          - name: twoGigabitEthernet2/0/5
            description: BMC for pve10
            enabled: true
          - name: twoGigabitEthernet2/0/6
            description: pve10 
            enabled: true
          - name: twoGigabitEthernet2/0/7
            description: n/a 
            enabled: false
          - name: twoGigabitEthernet2/0/8
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/9
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/10
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/11
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/12
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/13
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/14
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/15
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/16
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/17
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/19
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/21
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/22
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/23
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/24
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/25
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/26
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/27
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/28
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/29
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/30
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/31
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/32
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/33
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/34
            description: n/a
            enabled: false
          - name: twoGigabitEthernet2/0/35
            description: n/a
            enabled: false
          - name: tenGigabitEthernet2/0/42
            description: nodeC.3.10.11
            enabled: true
          - name: tenGigabitEthernet2/0/43
            description: n/a
            enabled: false
          - name: tenGigabitEthernet2/0/44
            description: nodeC.3.10
            enabled: false
          - name: tenGigabitEthernet2/0/45
            description: n/a
            enabled: true
          - name: tenGigabitEthernet2/0/47
            description: n/a
            enabled: false
          - name: tenGigabitEthernet2/0/48
            description: WIFI AP
            enabled: true
        state: merged

### End of Interface Configuration ###

### VLAN configuration ###

    - name: Merge provided configuration with device configuration
      cisco.ios.ios_vlans:
        config:
          - vlan_id: 1
            name: default
          - vlan_id: 3
            name: quorum
          - vlan_id: 10
            name: homelab
          - vlan_id: 11
            name: hlvl
          - vlan_id: 20
            name: cephpriv
          - vlan_id: 99
            name: bmc
          - vlan_id: 100
            name: wifi
          - vlan_id: 21
            name: logs
        state: merged
### Login Banner ###
    - name: configure login banner
      ios_banner:
        banner: login
        text: |
          ***************************************************************************

                 ||        ||
                 ||        ||             Cisco Systems, Inc.
                ||||      ||||            d3 Homelab
            ..:||||||:..:||||||:..        

          NOTICE TO USERS
          This is personal property.
          UNAUTHORIZED ACCESS TO THIS NETWORK DEVICE IS PROHIBITED.
          You must have explicit permission to access or configure this
          device.  All activities performed on this device are logged and
          violations of this policy may result in disciplinary action.

          ***************************************************************************
### LLDP Configuration ###
    - name: Merge provided configuration with device configuration
      cisco.ios.ios_lldp_global:
        config:
          holdtime: 10
          enabled: true
          reinit: 3
          timer: 10
        state: merged
### Hostname ###
    - name: Apply the provided configuration
      cisco.ios.ios_hostname:
        config:
          hostname: d39k3
        state: merged