---
   # - name: EPEL repository
    #  ansible.builtin.yum:
     #   name: epel-release
      #  state: present
#      become: true
 #   - name: Ceph repository
#      ansible.builtin.yum_repository:
#        name: Ceph-noarch
#        description: Ceph noarch
#        file: ceph
#        baseurl: https://download.ceph.com/rpm-quincy/el8/noarch
#        gpgcheck: yes
#        gpgkey: https://download.ceph.com/keys/release.gpg
#      become: true
#    - name: Ceph repository $basearch
#      ansible.builtin.yum_repository:
#        name: Ceph
#        description: Ceph $basearch
#        file: ceph
#        baseurl: https://download.ceph.com/rpm-quincy/el8/$basearch
#        gpgcheck: yes
#        gpgkey: https://download.ceph.com/keys/release.gpg
#      become: true
#    - name: Install ceph
#      ansible.builtin.dnf:
#        name: ceph-common
#        state: latest
#      become: true

# not work
#    - name: Download ceph config
#      ansible.builtin.copy:
#        src: '/etc/ceph/ceph.conf'
#        dest: /etc/ceph/ceph.conf
#        owner: root
#        group: root
#        mode: '0664'
#      become: true
#    - name: Download ceph user key
#      ansible.builtin.copy:
#        src: '/etc/ceph/ceph.client.komodo.keyring'
#        dest: /etc/ceph/ceph.client.komodo.keyring
#        owner: root
#        group: root
#        mode: '0664'
#      become: true
#    - name: Create CephFS mount point
#      ansible.builtin.file:
#        path: /mnt/cFS # Or your desired mount path
#        state: directory
#        mode: '0755'
    - name: update fstab
      ansible.posix.mount:
        fstype: ceph
        path: /mnt/cFS
        state: mounted
        src: komodo@.cFS=/
        opts: mon_addr=10.10.10.10:6789/10.10.10.15:6789/10.10.10.17:6789/10.10.10.18:6789/10.10.10.19:6789,rw,noatime,_netdev
      become: true